body{
    display: flex; /*Utiliza el modelo de caja flexible para el diseño de la pagina */
    min-height: 100vh; /*Altura minima de la pantalla */
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar{
    width: 12.5%; /*Ancho de la barra */
    background-color: #343a40;
    padding: 20px; /*Relleno */
    height: 100vh; /*Altura lateral */
    position: fixed; /*Posicion de la barra lateral */
    top: 0;
    left: 0;
    color: #fff;
    overflow-y: auto;
}

.sidebar h4 {
    color: #fff;  /*Color de texto de los encabezados */

}

.sidebar .nav-link {
    display: block;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 10px;
}

.sidebar .nav-link.active, .nav-link.hover  {
    background-color: #007bff;
    color: #ffffff;
    
}

.content{
    margin-left: 15%;
    margin-top: 20px;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
    margin: 10px;
    width: calc(30% - 20px);
    height: 55%;
    display: inline-block;
    vertical-align: top;
}

.card-body{
    padding: 20px;
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text{
    margin-bottom: 10px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: red;
    text-decoration: none;
    border-radius: 4px;
}

.btn-danger:hover {
    background-color: #c41414;
}

.btn-success {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: green;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: rgb(11, 182, 11);
}

.margin-button {
    margin-left: 10px;
}

@media (max-width: 768px){
    .sidebar {
        width: 80%;
        height: auto;
        position: relative;
    }

    .content{
        margin-left: 0;
        padding-top: 0;
    }

    .card {
        width: calc(100% - 20px);
        height: 220px;
    }
}