/* Eliminar márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Incluir el padding y el border en el tamaño total del elemento */
}

/* Estilo del formulario de inicio de sesión */
.form-login {
    width: 350px;
    padding: 20px;
    background-color: #d9d9d9; /* Fondo claro */
    margin: 50px auto;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrar texto */
}

/* Estilo del encabezado */
h1 {
    color: #333; /* Texto oscuro */
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif; /* Fuente sans-serif */
}

/* Estilo de los campos de entrada */
input[type="text"], input[type="password"] {
    width: calc(100% - 40px); /* Ancho total menos márgenes */
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
}

/* Estilo de las etiquetas */
label {
    color: #333; /* Texto oscuro */
    display: block;
    margin: 15px 0 5px 0;
    font-size: 18px; /* Tamaño de fuente mayor */
    font-weight: bold;
}

/* Estilo del botón */
input[type="button"] {
    width: 120px;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    color: #fff; /* Texto blanco */
    background-color: #007BFF; /* Fondo azul */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave */
}

/* Estilo del botón al pasar el ratón por encima */
input[type="button"]:hover {
    background-color: #0056b3; /* Fondo azul más oscuro */
}
